.div-1 {
  background-color: #263D6F;
  padding: 6vw;
  background-image: url('./background@3x.png');
  background-size:cover;     
  background-position:center center;
  padding-bottom: 10vw;
}

.header {
  padding: 10px 6vw;
  background: #FFF

}

.logo {
  max-width: 200px;
  max-height: 41px;
  border-radius: 3px;
}

.make-aptmt-btn {
  border-radius: 2px;
  background-color: #72D500;
  height: 38px;
}

.aptmnt-text {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
}

.div-2 {
  background-color: #263D6F;
  padding: 10px 6vw;
}


.div-3 {
  background-color: #FAFAFA;
  padding: 35px 6vw;
  overflow: hidden;
}

.how-ayurveda-works {
  color: #000000;
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}

.div-4 {
  padding: 46px 6vw;
}

.div-4 ul {
  list-style-type: none;
}


.div-5 {
  background-color: #FAFAFA;
  padding: 28px 6vw;
}

.div-6 {
  padding: 45px 6vw 38px 6vw;
}

.div-7 {
  background-color: #263D6F;
  padding: 25px 6vw 0 6vw;
}

.header-text-1 {
  color: #000;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  padding: 10px;
}

.header-text-2 {
  width: 50%;
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
  line-height: 35px;
  padding: 68px 0 23px 0;
}

.header-text-3 {
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 15px;
}

.header-text-4 {
  width: 79px;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  margin-right: 22px;
}

.header-text-6 {
  text-align: center !important;
}

.div-2-text-1 {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  padding-top: 27px;
}

.div-2-text-2 {
  opacity: 0.71;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 8px;
}

.div-2-text-3 {
  padding-top: 28px;
  padding-bottom: 35px;
}

.div-3-text-1 {
  color: #000000;
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}

.div-3-text-2 {
  opacity: 0.5;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 19px 9vw 46px 9vw;
}

.div-3-text-3 {
  opacity: 0.71;
  color: #000000;
  font-family: Roboto;
  font-size: 16px;
  line-height: 18px;
  padding-left: 20px;
}

.doshas-image {
  padding: 0 35px;
}

.div-4-text-1 {
  color: #000000;
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}

.div-4-text-2 {
  opacity: 0.5;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin: 19px 9vw 46px 9vw;
}

.div-4-text-3 {;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  line-height: 25px;
}

.div-5-text-1 {
  color: #000000;
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}

.div-5-text-3 {
  opacity: 0.7;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  line-height: 18px;
}

.div-5-text-4 {
  color: #000000;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 16px;
  margin-top: 5px;
}

.div-5-text-5 {
  margin-top: 26px;
  font-size: 14px;
}

.div-5-text-6 {
  min-width: 250px;
  margin-bottom: 26px;
}



.div-6-text-1 {
  color: #010101;
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
  padding-bottom: 14px;
}

.div-6-text-2 {
  opacity: 0.71;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-bottom: 14px;
}

.div-6-text-3 {
  padding-top: 14px;
}

.div-7-text-1 {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
  text-align: center;
}

.div-7-text-2 {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 14px;
  line-height: 25px;
  padding: 21px 0 43px 0;
}

.padding-10{
  padding: 10px;
}

.padding-5{
  padding: 5px;
}

@media screen and (max-width: 769px) {
    .width-100 {
      width: 100%;
    }

    .logo {
      max-width: 150px;
      border-radius: 3px;
    }

    .make-aptmt-btn {
      border-radius: 2px;
      background-color: #72D500;
      padding:2px 4px;
      max-width: 150px;
      max-height: 32px;
    }

    .aptmnt-text {
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 12px;
    }

    .header-text-2 {
      width: 100%;
      color: #FFFFFF;
      font-size: 22px;
      padding: 68px 20px 23px 20px;
    }

    .div-2-text-1 {
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 22px;
      text-align: center;
      padding-top: 27px;
    }

    .div-3-text-1 {
      color: #000000;
      font-family: Roboto;
      font-size: 22px;
      text-align: center;
    }

    .div-4-text-1 {
      color: #000000;
      font-family: Roboto;
      font-size: 22px;
      text-align: center;
    }


    .div-5-text-1 {
      color: #000000;
      font-family: Roboto;
      font-size: 22px;
      text-align: center;
    }

    .div-6-text-1 {
      color: #000000;
      font-family: Roboto;
      font-size: 22px;
      text-align: center;
    }

    .div-7-text-1 {
      color: #FFFFFF;
      font-family: Roboto;
      font-size: 22px;
      text-align: center;
    }

}

